body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    overflow-x: hidden; 
}


/* header */

header {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 2px;
}

/* navigation bar */

nav {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
}

li {
    font-size: 18px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

li a:hover {
    border-bottom: 2px solid white;
}


/* footer */

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

/* section */

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.about div {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about div img {
    max-width: 50%;
    height: auto;
    padding-top: 10%;
    padding-bottom: 10%;
}

.about div p {
    font-size: 18px;
    padding: 5%;
    text-align: left;
}


@media screen and (max-width: 800px) {
    .about {
        flex-direction: column; 
        align-items: center; 
    }

    .about div img {
        width: 100%; 
    }

    .about div p {
        padding: 5% 0;
    }
}
