body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: white;
    overflow-x: hidden;
}


/* header */

header {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 2px;
}


/* navigation bar */

nav {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
}

li {
    font-size: 18px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

li a:hover {
    border-bottom: 2px solid white;
}


/* footer */

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}


main {
    padding-top: 22%;
    padding-bottom: 22%;
    position: relative;
}

/* Contact */

/* I referred to https://www.youtube.com/watch?v=f0DcnrpeBv8 when designing the contact form */

.contact_form {
    width: 85%;
    max-width: 600px;
    background: #ffffff;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px 40px;
    box-sizing: border-box;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 20px #000000b3;
}

.contact_form h1{
    margin-top: 0;
    font-weight: bold;
}

.contact_text {
    border: 1px solid gray;
    margin: 8px 0;
    padding: 12px 18px;
    border-radius: 8px;
}

.contact_text label {
    display: block;
    text-align: left;
    color: black;
    font-size: 18px;
}

.contact_text input, .contact_text textarea {
    width: 100%;
    border: none;
    background: none;
    outline: none;
    font-size: 18px;
    margin-top: 6px;
}


#submit {
    margin: 10px 0;
    text-align: center;
}

#submit input[type="submit"] {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

@media screen and (max-width: 1200px) {
    main {
        padding-top: 57%;
        padding-bottom: 57%;
    }

    .contact_form {
        width: 80%;
    }
}