body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
}

/* header */

header {
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: black;
    padding: 2px;
}
/* navigation bar */

nav {
    background-color: black;
    color: white;
    text-align: center;
    padding: 8px 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: black;
    display: flex;
    justify-content: center;
    top: 0;
    width: 100%;
}

li {
    font-size: 18px; 
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-bottom: 2px solid transparent;
}

li a:hover {
    border-bottom: 2px solid white;
}


/* footer */

footer {
    width: 100%;
    box-sizing: border-box;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

/* Dropdown */

.dropdown button {
    border: none;
    background-color: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
    width: 160px;
    margin-top: 5%;
    margin-left: 5%;
}

.dropdown_content a {
    text-decoration: none;
    display: block;
    color: black;
    padding: 5px 10px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown_content {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 0 0 3px gainsboro;
    background-color: white;
    /* z-index: 2; */
    width: 160px;
    margin-left: 5%;
}

.dropdown:hover .dropdown_content {
    display: block;
}

.dropdown a:hover {
    background-color: rgb(222, 221, 221);
}

/* Projects */

video {
    width: 100%;
    max-width: 100%;
}

.project_intro {
    padding-left: 20%;
    padding-right: 20%;
    margin: 20px;
}

.project_intro h1 {
    font-size: 26px;
    margin-top: 20px;
}

.project_intro h2 {
    font-size: 20px;
    margin-top: 10px;
}

.project_intro p {
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
}

.project_intro img {
    max-width: 100%;
    margin-top: 20px;
    box-shadow: 5px 5px 5px 5px lightgrey;
}

iframe {
    width: 65%;
    margin: 20px auto; 
    display: block; 
    height: 600px;
    border: 10px inset lightgrey; 
    border-radius: 10px;
}

/* responsive */

@media screen and (max-width: 800px) {
    .project_intro {
        padding: 0 5%;
    }

    iframe {
        width: 80%;
    }
}